{% extends "main.html" %}
{% block content %}
<div id="title-additem-bar" class="col-xs-12">
	<div>
		<h2>{{category.name}} Items</h2>
	</div>
	<div id="add-item">
		<a href="{{url_for('addItem', category_name = category.name )}}" id="add-item-link">
			Add New Item
		</a>
	</div>
	</br>
</div>
	<br>
	{% for item in items %}
	<div class="col-xs-12"> 
		<a href="{{url_for('viewItem', category_name = category.name, item_name = item.name )}}">
			{{item.name}}
		</a>
	</div>
	{% endfor %}
<div>
	<a href="{{url_for('showHomepage')}}">
		<button class="btn btn-sm btn-success">
			<span aria-hidden="true"></span> Back to All Categories
		</button>
	</a>
</div>
{% endblock %}

